<div class="flex flex-row space-x-20">
  <div class="flex flex-col">
    <div>
      <%= render "shared/user_info" %>
    </div>
    <div class="pt-3">
      <%= render "shared/stats" %>
    </div>
    <div>
      <%= render "shared/micropost_form" %>
    </div>
  </div>
  <div>
    <h3 class="font-semibold text-xl">Micropost Feed</h3>
    <% if !@feed_items.empty? %>
      <%= render "shared/feed" %>
    <% else %>
      <p class="font-medium text-gray-400 underline flex justify-center">No microposts yet.</p>
    <% end %>
  </div>
</div>
