<% provide(:title, "About") %>
<div class="flex flex-row space-x-10 h-full w-full self-start p-20">
  <p>
    <a href="https://railstutorial.jp/">
      Ruby on Rails Tutorial
    </a>
    is a
    <a href="https://railstutorial.jp/#ebook" class="underline text-sky-700">
      book
    </a>
    and
    <a href="https://railstutorial.jp/#screencast" class="underline text-sky-700">
      screencast
    </a>
    to teach web development with
    <a href="http://rubyonrails.org/" class="underline text-sky-700">
      Ruby on Rails
    </a>.
    This is the sample application for the tutorial.
  </p>
</div>
