<div>
  <% provide(:title, "Contact") %>
  <p>
    This is the contact page for the
    <a href="https://railstutorial.jp/" class="underline text-sky-700">Ruby on Rails Tutorial</a>
    sample application.
  </p>
</div>
