<% provide(:title, "Help") %>
<div class="flex flex-col space-x-10 h-full w-full self-start p-20">
  <div> Get help on the Ruby on Rails Tutorial at the
    <a href="https://railstutorial.jp/help" class="underline text-sky-700">
      Rails Tutorial help section
    </a>.
    To get help on this sample app, see the
    <a href=" https://railstutorial.jp/#ebook" class="underline text-sky-700">
      <em>Ruby on Rails Tutorial</em>
      book
    </a>.
  </div>
</div>
