<%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "rounded-md bg-red-300  hover:bg-red-400 px-2 py-1 text-white font-bold text-base w-full" %>
<% end %>
