<div>
  <% if !@microposts.empty? %>
    <div class="grid grid-cols-3 gap-4">
      <%= render @microposts %>
    </div>
  <% else %>
    <p class="font-medium text-gray-400 underline flex justify-center">No microposts yet.</p>
  <% end %>
</div>
