<li class="flex flex-row space-x-4 items-center py-4 justify-between">
  <div><%= gravatar_for user, size: 50 %></div>
  <div class="grow"><%= link_to user.name, user %></div>
  <div>
    <% if current_user.admin? && !current_user?(user) %>
      <div>
        <!-- TODO: are you sure not work -->
        <%= link_to user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-5 text-red-500"
      >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
