<% provide(:title, 'Edit user') %> <% provide(:action_type, user_path) %> <% provide(:button_text,
"Save changes") %>
<div class="w-1/2">
  <div class="flex text-2xl underline text-center justify-center">Update your profile</div>
  <%= render 'form' %>
  <div class="flex flex-row w-full space-x-2">
    <%= gravatar_for @user %>
    <a
      rel="noopener"
      href="http://gravatar.com/emails"
      target="_blank"
      class="underline text-sky-700"
      >change</a
    >
  </div>
</div>
