<% provide(:title, "All users") %>
<div class="flex flex-col space-y-10 h-full w-full self-start p-20">
  <div class="flex text-2xl underline text-center justify-center">All users</div>
  <ul class="flex flex-col w-full divide-y">
    <%= render @users %>
  </ul>

  <div class="mt-10 space-y-1">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
  </div>
</div>
