<% provide(:title, "All users") %>
<div class="w-1/2">
  <div class="flex text-2xl underline text-center justify-center">All users</div>
  <ul class="flex flex-col w-full divide-y divide-gray-200">
    <%# @users.each do |user| %> <%# render user %> <%# end %> <%= render @users %>
  </ul>

  <div class="mt-10 space-y-1">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
  </div>
</div>
