<% provide(:title, 'Sign up') %> <% provide(:action_type, signup_path) %> <% provide(:button_text,
"Create my account") %>
<div class="w-1/2">
  <div class="flex text-2xl underline text-center justify-center">Create my account</div>
  <%= render 'form' %>
</div>
