<% if @user.errors.any? %>
<div>
  <div class="bg-red-200 rounded p-4 text-red-600">
    The form contains
    <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <ul class="list-disc text-red-400 m-4 pl-4">
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
