<% if @feed_items.any? %>
  <div class="grid grid-cols-3 gap-3">
    <%= render @feed_items %>
  </div>
  <div class="mt-10 space-y-1">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
  </div>
<% end %>
