<% if @feed_items.any? %>
  <ol class="divide-y mt-5">
    <%= render @feed_items %>
  </ol>
  <div class="mt-10 space-y-1">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
  </div>
<% end %>
