<div data-modal-id="<%= id %>" class="fixed inset-0 bg-black bg-opacity-20 flex justify-center items-center z-50 hidden">
  <div class="bg-white rounded shadow-lg p-4 relative w-4/6 h-4/6" data-modal-target="panel">
    <button data-action="click->modal#close" class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl">✕</button>
    <%= yield %>
  </div>
</div>
