<% @user ||= current_user %>
<div class="flex flex-row space-x-4 text-gray-500 text-xs font-bold divide-x justify-center">
  <div>
    <%= link_to "following", following_user_path(@user), data: { turbo: false } %>
    <%= @user.following.count %>
  </div>
  <div>
    <%= link_to "followers", followers_user_path(@user), data: { turbo: false }, class: "pl-4" %>
    <%= followers ||= @user.followers.count %>
  </div>
</div>
