<% provide(:title, "home") %>
<div class="flex flex-col space-y-10 h-full w-full self-start p-20 divide-y">
  <div class="text-5xl py-10 flex flex-col items-center">
    새별이가 재미삼아 만들고 있어요~
  </div>
  <div class="flex flex-col space-y-4 pt-2">
    <% if @microposts.any? %>
      <div class="grid grid-cols-3 gap-2">
        <%= render @microposts %>
      </div>
      <div class="mt-10 space-y-1">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
      </div>
    <% else %>
      <p class="font-medium text-gray-400 underline flex justify-center">No microposts yet.</p>
    <% end %>
  </div>
</div>
