<div id="micropost-<%= micropost.id %>" data-controller="modal">
  <div data-action="click->modal#open" class="relative group flex flex-row items-top border p-4 rounded-lg">
    <span class="font-light	text-xs">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago
    </span>
    <div class="absolute inset-0 bg-opacity-50 flex justify-center items-center opacity-0 group-hover:opacity-100 bg-gray-100 transition">
      <span>
        <%= render "microposts/like", micropost: micropost %>
      </span>
    </div>
  </div>
  <%= render "microposts/detail", micropost: micropost %>
</div>
