<div data-controller="dropdown" class="relative flex flex-row hover:bg-gray-800 rounded-md mx-2 p-3">
  <button
    data-dropdown-target="button"
    data-action="click->dropdown#toggle"
    type="button"
    aria-expanded="false"
    aria-haspopup="true"
    class="flex flex-row items-center pr-3"
    >
    Options
    <svg class="-mr-1 size-5 text-black-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
    </svg>
  </button>
  <div
    data-dropdown-target="menu"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    id="dropdown-menu"
    class="absolute mt-10 left-0 text-white bg-gray-700 hidden rounded-md p-3 w-60"
  >
    <div class="text-sm" role="none">
      <li>
        <%= link_to "Account settings", edit_user_path(current_user), class: "block hover:bg-gray-600 rounded-md p-3"%>
      </li>
      <%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "block hover:bg-gray-600 rounded-md p-3"%>
    </li>
  </div>
</div>
</div>
